.container
  .bar.mint(data-percent="100" data-skill="HTML5")
  .bar.red(data-percent="85" data-skill="CSS3")
  .bar.lila(data-percent="75" data-skill="jQuery")
  .bar.orange(data-percent="65" data-skill="PHP")
  .bar.gray(data-percent="55" data-skill="MySQL")