body{
  background: #333;
  font-family: sans-serif;
  padding: 0 100px;
  text-align: center;
}
h1{
  color: #fff;
}
a{
  color: #aaa;
  margin: 10px;
  &:hover{
    color:#fff;
  }
}
.stage{
  text-align: left;
}
[class*='icono']{
  color: #eee;
  opacity: 0.6;
}
span{
  padding: 10px;
  display: inline-block;
  &:hover{
    i{
      opacity: 0.8;
    }
    transform: scale(1.5);
  }
}