%header
  %h1 Floating Orb
  %h2 Click a dot to call the Orb to it

.panel
  .button
    %span
  .button
    %span
  .button
    %span
  .button
    %span
  .button
    %span
  .button
    %span
  .button
    %span

#track
  #orb

#platform