* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background: #444444 url("http://nickbrombal.com/images/bg_pixel-grey.jpg") repeat fixed;
}

#wrapper {
  margin-top: 100px;
}

.menu-container {
  margin: 10px auto;
  width: 64px;
  height: 64px;
  white-space: nowrap;
  box-shadow: 3px 3px #2E2E2E;
}
.menu-container .label {
  display: none;
  position: absolute;
  font: 26px/64px electrolize;
  width: 64px;
  text-align: center;
  color: white;
}
.menu-container .tile {
  float: left;
  height: 64px;
  width: 64px;
}
.menu-container .bar {
  display: inline-block;
  height: 64px;
  vertical-align: top;
  width: 0px;
  overflow: hidden;
  background: #777;
}
.menu-container .bar .buttons {
  width: 300px;
  height: 64px;
  text-align: center;
}
.menu-container .bar .buttons img {
  height: 48px;
  padding: 8px 0;
}
.menu-container .bar .buttons p {
  font: 12px/64px roboto;
  color: #fff;
  letter-spacing: 3px;
}

/* Tile colouring */
#life .label, #life .tile {
  background: #52CC5C;
}

#work .label, #work .tile {
  background: #CC5252;
}

#play .label, #play .tile {
  background: #52A3CC;
}

#talk .label, #talk .tile {
  background: #CCCC52;
}

#link .label, #link .tile {
  background: #7C22D6;
}

/* Styling for font text icons */
[class^="icon-"] {
  display: inline-block;
  width: 100%;
  line-height: 64px;
  text-align: center;
  height: 64px;
  font-size: 37px;
  background: -webkit-linear-gradient(white, #cccccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
[class^="icon-"]:before {
  display: initial;
}

/* Vertical adjustments to font text icons */
.icon-briefcase {
  line-height: 68px;
}

.icon-gamepad {
  line-height: 60px;
}

.icon-comments {
  line-height: 62px;
}

.icon-link {
  line-height: 66px;
}

/* Hide the secret (shh!) menu */
#link {
  display: none;
}