.container
  %h1
    Button
    %span styles
  .button.red.center Red / Light
  .button.dark.center Dark / blue
  .button.light.center Light / Dark
  .button.green.center Green / Dark
  .button.blue.center Blue Dark