.card-holder
  .card-wrapper
    %a{:href => "#"}
      .card.bg-01
        %span.card-content item #1
  
  .card-wrapper
    %a{:href => "#"}
      .card.bg-02
        %span.card-content long menu item #2
          
  .card-wrapper
    %a{:href => "#"}
      .card.bg-03
        %span.card-content menu item #3

  .card-wrapper
    %a{:href => "#"}
      .card.bg-04
        %span.card-content item #4

  .card-wrapper
    %a{:href => "#"}
      .card.bg-05
        %span.card-content menu item #5


  .card-wrapper
    %a{:href => "#"}
      .card.bg-06
        %span.card-content long menu item #1
