.table
  .content
    %h1 Patty
    %navbar.navbar-container
      %ul 
        %li
          %a{:href => "#1"} <b>Home</b>
        .h-sep
        %li
          %a{:href => "#2"} Chats
        %li
          %a{:href => "#3"} Users
        .h-sep
        %li
          %a{:href => "#4"} FAQ
        %li
          %a{:href => "#4"} Contact
        .h-sep
        %li
          %a.login{:href => "#4"} Login
    .description
      %h2 
      %p 
