@import "compass/css3";

// Flexbox mixin
@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

// Flexbox "Flex" (shorthand)
@mixin flex($fg: 1, $fs: null, $fb: null) {
	-webkit-box-flex: $fg;
	-webkit-flex: $fg $fs $fb;
	-moz-box-flex: $fg;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

// Element styling
body {
 background: #ECF0F1;
 font-family: "Open Sans Condensed", sans-serif;
 height: 100%;
}

a { text-decoration: none; }

header {
  margin-bottom: 2em;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 { color: #8E44AD; }

h2 {
  color: #BDC3C7;
  font-size: 18px;
  font-weight: 300;
}

#platform {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  height: 7px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  width: 1000px;
  z-index: 0;

  -webkit-transform: skewX(45deg);
     -moz-transform: skewX(45deg);
      -ms-transform: skewX(45deg);
          transform: skewX(45deg);
  
  -webkit-transition: background-color 1s;
     -moz-transition: background-color 1s;
      -ms-transition: background-color 1s;
          transition: background-color 1s;  
    
  &.active {
    background: rgba(142.00, 68.00, 173.00, 0.3);
  }
}

#track {
  $tunnel_width: 1000px;
  $hover_height: 30px;
  $orb_size:   $tunnel_width / 10;
  
  bottom: 0;
  height: $orb_size;
  margin: 0 auto;
  left: 0;
  position: relative;
  right: 0;
  top: 70px;
  width: $tunnel_width;
  z-index: 100;
  
  #orb {
    $orb_base_color: #8E44AD;
    
    background: $orb_base_color;
    border-radius: 50%;
    box-shadow: inset -5px -10px 1px darken($orb_base_color, 5%);
    bottom: $hover_height;
    height: $orb_size;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: $orb_size;
    z-index: 200;
    
    -webkit-transition: bottom 0.5s ease-in-out;
       -moz-transition: bottom 0.5s ease-in-out;
        -ms-transition: bottom 0.5s ease-in-out;
            transition: bottom 0.5s ease-in-out;   
    
    // Orb shadow
    &:after {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      bottom: -$hover_height * 0.75;
      content: "";
      display: block;
      height: ($tunnel_width / 10) / 6;
      margin: 0 auto;
      left: 0;
      position: absolute;
      right: 0;
      width: ($tunnel_width / 10) / 1.5;
      
      -webkit-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
      -ms-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
      transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    }
    
    &.hover {
      bottom: 10px;
      
      &:after {
        bottom: -$hover_height + 10px;
        height: 0;
        width: 0;
      }
    }
  }
}

.panel {
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  top: 0;
  width: 1000px;
    
  @include flexbox;
  
  .button {
    background: transparent;
    color: #333;
    font-weight: 300;
    padding: 0.5em 0;
    margin: 0.5em 0;
    text-align: center;
    
    @include flex;
    
    &:hover {
      cursor: pointer;
        
      > span { background: #9B59B6; }
    }
    
    &.active, &:active {
      > span { background: #8E44AD; }
    }
    
    span {
      background: #BDC3C7;
      border-radius: 50%;
      display: block;
      height: 10px;
      margin: 0 auto;
      width: 10px;
    }
  }
}