%span.bckg
%header
  %h1 
    Dashboard
  %nav
    %ul
      %li 
        %a{:data => {'title' => 'Projects'}} Projects
      %li 
        %a{:data => {'title' => 'Team'}} Team
      %li 
        %a{:data => {'title' => 'Diary'}} Diary
      %li 
        %a{:data => {'title' => 'Timeline'}} Timeline
      %li 
        %a{:data => {'title' => 'Settings'}} Settings
      %li 
        %a{:data => {'title' => 'Search'}} Search
%main
  .title
    %h2 Projects
    %a{:href => "#", :title => "Profil"}
      Hello Bob !
  %article.larg
    %div
      %h3 
        Project 1
        %span{:class => "entypo-down-open"}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.
    %div 
      %h3 
        Project 2
        %span{:class => "entypo-down-open"}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.
    %div 
      %h3 
        Project 3
        %span{:class => "entypo-down-open"}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.