#wrapper
  %form
    %select.custom-date{name: 'select'}
      %option{value: 7} 7 Days
      %option{value: 30} 30 Days
      %option{value: 90, selected: 'selected'} 90 Days
      %option{value: 180} 180 Days
      %option{value: 365} 365 Days
      %option{value: 'custom'} Custom