.title
  Responsive Breadcrumbs
.breadcrumbs
  .inner
    %ul.cf
      %li
        %a
          %span 1
          %span Home
      %li
        %a.active
          %span 2
          %span Service
      %li
        %a
          %span 3
          %span Menu
      %li
        %a
          %span 4
          %span Checkout
      %li
        %a
          %span 5
          %span Success